<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeovxbXwUv5tLVyX3kANZRomx20wgtIRU</string>
	<key>GCM_SENDER_ID</key>
	<string>788538011169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amategeko.amategeko</string>
	<key>PROJECT_ID</key>
	<string>rwanda-traffic-rules</string>
	<key>STORAGE_BUCKET</key>
	<string>rwanda-traffic-rules.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788538011169:ios:5bbf9c072fd9143258bd60</string>
</dict>
</plist>